.nav {
  text-align: right;
  font-family: nunito, sans-serif;
  font-size: large;
  padding: 20px 32px;
}
/**issue with logo**/
.logo{
  size: 100%;
  position: absolute;
  top:-1px;
  left: -350px;
  max-width: 100%;
  height: auto;
}
.nav a{
  color: gray; 
}
figure {
  color: #826fea;
  font-family: poppins;
  font-size: 50px;
  padding: 70px;
}
figure img{
  float:left;
}
figure b {
  font-size: 40px;
  opacity: 0.8;
}
a {
  padding-inline: 2%;
}
a:link {
  text-decoration: none;
}
#section1 {
  margin: 5%;
}
.work {
  display: inline-block;
  background-color: #fffcd0;
  padding: 50px;
  color: #826fea;
  font-family: poppins;
}
h2{
  text-align: center;
  color:#826fea;
  font-family: poppins;
}
button {
  border-color: #826fea;
  border-radius: 50px;
  background-color: white;
  font-family: poppins;
  font-size: 16px;
  width: 200px;
  height: 70px;
  letter-spacing: 2px;
  color:gray;
  text-decoration: none;
}
button:hover {
  color: white;
  background-color: #ceceef;
  border-radius: 100px;
}
button:active {
  background-color: white;
  transform: translateY(4px);
  border-radius: 50px;
  color:#826fea;
}
button a:hover{
  color:white;
}
button a:active{
  color:#826fea;
}
#projects{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}
#projects img{
  position: center;
}
#projects h1{
  color:#826fea;
}
.footer{
  padding: 20px 32px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 100px;
}
.footer a{
  color:#826fea;
  font-size: 20px;
}
.contact{
  text-align: center;
}
.contact p{
color: #826fea;
font-size: 18px;
}