.nav {
  text-align: right;
  font-size: x-large;
  background-color: #ceceef;
  padding: 20px 32px;
}
/**issue with logo**/
.logo{
  size: 100%;
  position: absolute;
  top:-1px;
  left: -400px;
  max-width: 100%;
  height: auto;
}
.nav a{
  color:#826fea;
}
figure {
  color: #826fea;
  font-family: poppins;
  font-size: 50px;
  padding: 70px;
}
figure img {
  float: left;
  height: 600px;
  padding: 25px;
}
figure b {
  font-size: 40px;
  opacity: 0.8;
}
a {
  color: white;
  padding-inline: 3%;
}
a:link {
  text-decoration: none;
}
#section1 {
  margin: 5%;
}
.work {
  display: inline-block;
  background-color: #fffcd0;
  padding: 50px;
  color: #826fea;
  font-family: poppins;
}
/**
#container {
  text-align: center;
  background-color: #fffcd0;
}
**/
#projects {
  padding-bottom: 500px;
  display: center;
}
button a{
  color:gray;
  text-decoration: none;
}
button {
  border-color: #826fea;
  border-radius: 50px;
  background-color: white;
  font-family: poppins;
  font-size: 16px;
  width: 200px;
  height: 70px;
  letter-spacing: 1px;
}
button:hover {
  background-color: #ceceef;

  color: white;
  border-radius: 100px;
}
button:active {
  background-color: white;
  box-shadow: 0 1px rgb(255, 232, 232);
  transform: translateY(4px);
  color: #826fea;
  border-radius: 50px;
}
#projects{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}
.footer{
  background-color:#ceceef;
  padding: 20px 32px;
  text-align: center;
}
.footer a{
  color:#826fea;
}